.local
.python_history
comtrade/code/__pycache__
.jupyter
.ipython
notebook/__pycache__
notebook/.ipynb_checkpoints
.bash_history
notebook/in/.ipynb_checkpoints
comtrade/__pycache__
notebook/in/__pycache__
__init__.cpython-37.pyc
web/india/__pycache__
